/* @settings

*/

.small-caps {
    font-variant-caps: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: calc(var(--font-text-size) + 0.16em);
  }

.has-dropcap {
    float: left;
    text-align: left;
    text-transform: uppercase;
    line-height: .7;
    font-size: 4.85em;
    margin-top: .11em;
    margin-right: .12em;
}